@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('../../fonts/opensans-light.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/opensans-light.woff') format('woff'); /* Modern Browsers */
}
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../../fonts/opensans-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/opensans-regular.woff') format('woff'); /* Modern Browsers */
}
@font-face {
  font-family: 'OpenSans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('../../fonts/opensans-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/opensans-italic.woff') format('woff'); /* Modern Browsers */
}
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Open Sans Semibold'), local('OpenSans-Light'),
       url('../../fonts/opensans-semibold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/opensans-semibold.woff') format('woff'); /* Modern Browsers */
}
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../../fonts/opensans-bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/opensans-bold.woff') format('woff'); /* Modern Browsers */
}
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
       url('../../fonts/opensans-extrabold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/opensans-extrabold.woff') format('woff'); /* Modern Browsers */
}
