.gallery {
  margin-top: 71px;
  color: var(--white-color);
  background: no-repeat center / cover url(../../img/about/pic.jpg);
}
.gallery_container {
  display: flex;
  padding-top: 90px;
  padding-bottom: 80px;
}

.gallery__filter {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  max-width: 400px;
  margin-right: 50px;
}
.gallery__title {
  font-weight: 400;
  margin-bottom: 30px;
}

.gallery__select_container {
  position: relative;
  width: 100%;
}

.gallery__descr {
  margin-bottom: 19px;
}

.gallery__filter .gallery__bonus {
  margin-top: auto;
  margin-bottom: -10px;
}
.gallery__carousel .gallery__bonus {
  display: none;
  margin-top: 30px;
}
.gallery__bonus {
  max-width: 360px;
  line-height: 32px;
}
.gallery__bonus a{
  color: var(--accent-light-color);
}
.gallery__carousel {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
}

.gallery__swiper-wrapper {
  flex-direction: column;
  height: 750px;
}

.gallery__item {
  width: 350px;
  height: 350px;
}

@media (max-width: 1360px) {
  .gallery {
    height: 839px;
  }
  .gallery__filter {
    max-width: 280px;
  }
}
@media (max-width: 840px) {
  .gallery {
    height: 1169px;
  }
  .gallery_container {
    flex-wrap: wrap;
  }
  .gallery__filter {
    margin-bottom: 14px;
  }
  .gallery__filter .gallery__bonus {
    display: none;
  }
  .gallery__carousel .gallery__bonus {
    max-width: 100%;
    display: block;
  }
  .slider-two {
    margin-bottom: 30px;
  }
}

@media (max-width: 475px) {
  .gallery {
    height: 962px;
  }
  .gallery_container {
    padding-top: 56px;
  }
  .gallery__filter {
    max-width: 100%;
    margin: 0 0 40px;
  }
  .gallery__title {
    margin-bottom: 24px;
  }
  .gallery__descr {
    margin-bottom: 14px;
  }
  .gallery__filter .gallery__bonus {
    display: none;
  }
  .gallery__carousel .gallery__bonus {
    display: block;
  }
  .slider-two {
    margin-bottom: 0;
  }
}
