.accordion {
  width: 100%;
}
.accordion__list {
  width: 100%;
}
.accordion__item {
  position: relative;
  margin-top: -1px;
  border-top: 1px solid var(--accordion-border-color);
  border-bottom: 1px solid var(--accordion-border-color);
  transition: border .2s ease-in-out, z-index .2s ease-in-out 2s;
}

.accordion__item.active {
  border-bottom-color: var(--accent-color);
  z-index: 2;
}

.accordion__item_btn {
  display: flex;
  align-items: center;
  min-width: 100%;
  padding: 32px 0;
}

.accordion__item_btn:focus {
  outline: 2px solid var(--accent-light-color);
  outline-offset: 6px;
}

.accordion__item:active,
.accordion__item_btn:active {
  color: var(--accent-color);
  border-color: var(--accent-color);
  z-index: 2;
}
.accordion__item_btn:active .accordion__item_icon {
  background: var(--accent-color);
  border-color: var(--accent-light-color);
}
.accordion__item_btn:active .accordion__item_icon::before,
.accordion__item_btn.active .accordion__item_icon::before {
  margin-top: 4px;
  border-color: var(--white-color );
  transform:translate(-50%, -50%) rotate(-135deg);
}
.accordion__item_btn.active .accordion__item_icon::before {
  border-color: var(--black-color);
}

.accordion__item_title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
}

.accordion__item_icon {
  position: relative;
  display: flex;
  flex: 0 0 50px;
  width: 50px;
  height: 50px;
  margin-left: auto;
  background: var(--extra-grey-color);
  border: 2px solid transparent;
  border-radius: 50%;
  transition: background .3s ease-in-out;
}

.accordion__item_icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  margin-top: -2px;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: var(--black-color);
  background-color: var(--accordion-icon-plus-color);
  transform:translate(-50%, -50%) rotate(45deg);
}
.accordion__item_descr {
  display: none;
  padding: 34px 40px 18px 0;
  border-top: 1px solid var(--accent-color);
}

.painter__list {
  columns: 3;
}

.painter__item {
  margin-bottom: 16px;
}
.painter__link {
  text-align: left;
}
@media (max-width: 1360px) {
  .accordion__item_descr {
    padding-right: 0;
  }
  .painter__list {
    columns: 2;
  }
}

@media (max-width: 840px) {
  .accordion {
    margin-bottom: 50px;
  }
  .accordion__item_btn {
    padding: 31.5px 0;
  }
  .accordion__item_descr {
    padding-bottom: 19px;
  }
  .painter__list {
    columns: 3;
  }
}

@media (max-width: 475px) {
  .accordion__item_btn {
    padding: 20.5px 0;
  }
  .accordion__item_btn:focus {
    outline: none;
  }
  .accordion__item_icon {
    flex: 0 0 30px;
    width: 30px;
    height: 30px;
  }

  .accordion__item_icon::before {
    width: 7px;
    height: 7px;
    margin-top: -2px;
    transform:translate(-50%, -50%) rotate(45deg);
  }
  .accordion__item:active .accordion__item_icon::before,
  .accordion__item_btn.active .accordion__item_icon::before {
    margin-top: 1px;
    transform:translate(-50%, -50%) rotate(-135deg);
  }
  .accordion__item_title {
    font-size: 18px;
  }
  .accordion__item_descr {
    padding: 25px 0 12px 0;
  }
  .painter__list {
    columns: 1;
  }
}
@media (min-width: 475px) {
  .accordion__item:hover ,
  .accordion__item_btn:hover {
    color: var(--accent-light-color);
    border-color: var(--accent-light-color);
    z-index: 2;
  }
  .accordion__item_btn:hover .accordion__item_icon {
    background: var(--accent-light-color);
    border-color: var(--accent-light-color);
  }
  .accordion__item_btn:hover .accordion__item_icon::before {
    border-color: var(--white-color);
  }
}
