.tooltip {
  position: relative;
  z-index: 1;
  display: inline-block;
  min-width: 16px;
  min-height: 16px;
  line-height: 1;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}
.tooltip::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.tooltip:hover::before,
.tooltip:focus::before {
  background-color: var(--border-hover-color);
}
.tooltip:focus-visible {
  outline: none;
}
.tooltip:active {
  color: var(--white-color);
}
.tooltip:active::before {
  background-color: var(--accent-light-color);
}



.tippy-box {
  padding: 8px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  background-color: var(--accent-light-color);
  border-radius: 0;
  opacity: 1;
}

.tippy-arrow {
  color: var(--accent-light-color);
}



@media (max-width: 475px) {
  .tooltip {
    margin-right: 0;
  }
}
