html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;

  background-color: var(--white-color);  /* под проект */
  font-family: "OpenSans", Arial, sans-serif;  /* в "" свой шрифт под проект*/
  font-size: 16px;
  color: var(--text-color);
  line-height: 1;
}

button, input {
  padding: 0;
  margin: 0;
  font: inherit;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}

.main {
  background: linear-gradient(to bottom, #e9e9e9 0%, #FFFFFF 1%, #FFFFFF 100%);
}

/* container */

.container {
  max-width: 1630px;  /*под проект*/
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* при работе с float */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Header */
.header_bg {
  background: var(--black-color);
}

.header__container {
  display: flex;
  align-items: center;
  height: 100px;
}

.header__logo {
  height: 40px;
}

.burger {
  position: relative;
  display: none;
  height: 28px;
}

.nav {
  margin: 0 auto;
}

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 62px;
}

.nav__item_link,
.header__login {
  color: var(--white-color);
}

.header__login {
  position: relative;
  padding-left: 20px;
}

.header__login::before {
  content: '';
  position: absolute;
  top: 1px;
  left: 0;
  width: 13px;
  height: 13px;;
  background: url(../img/login.svg);
}

.search {
  position: relative;
  display: none;
}

.header__bottom {

}

@media (max-width: 1360px) {
  .container {
    max-width: 1024px;
    padding: 0 50px;
  }

.header__logo {
  margin: 0 auto;
  height: 42px;
}

.burger {
  display: flex;
  align-items: center;
}

.nav {
  display: none;
}

.header__login {
  display: none;
}

.search {
  position: relative;
  display: flex;
}

.search__items {
  position: relative;
  width: 26px;
  height: 26px;
  border: 3px solid var(--white-color);
  border-radius: 50%;
}
.search__items::after {
  content: '';
  position: absolute;
  top: 20px;
  left: -7px;
  width: 9px;
  height: 3px;
  background: var(--white-color);
  transform: rotate(140deg);
}


}